<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sp -->
      <package
            uri="platform:/resource/assignment1.sp.model/sp.ecore"
            class="assignment1.sp.Assignment1Package"
            genModel="model/sp.genmodel"/>
   </extension>

</plugin>
